.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Design Css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --background-color: #fefefe;
  --primary-color: #b8aed1;
  --text-color: #383236;
  --accent-color: #aa599c;
  --secondary-background-color: rgb(160, 128, 190);
  --border-color: #dbcedd;
  --black-color: #000000;
}
* {
  font-family: "Poppins", sans-serif;
}

/* Navbar style  */
.Container {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  margin-top: 2%;
}
.logo {
  width: "100%";
  height: 30px;
  cursor: pointer;
}
.Option-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.Option-bar {
  background-color: var(--accent-color);
  width: 30px;
  height: 5px;
}

/* First Section : Growth a Partner */

.Container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 2% 15%;
}
.gp-text-container {
  color: var(--black-color);
  text-align: left;
  font-size: 14px;
}
.heading-text {
  font-size: 60px;
  -webkit-text-stroke: 2px var(--accent-color);
  -webkit-text-fill-color: transparent;
  font-family: "Bebas Neue", sans-serif;
  text-align: left;
  z-index: 10;
}

/* common style */
.mt-6 {
  margin-top: 6px;
}
.w-100 {
  width: 100%;
}
.d-row {
  display: flex;
  flex-direction: row;
}
.gpimage {
  height: 350px;
  /* z-index: 5; */
  opacity: 0.9;
}
.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

/* Strategy Left Section  */

.bg-container {
  background-color: var(--secondary-background-color);
  height: 90vh;
  padding: 2%;
  display: flex;
  flex-direction: row;
}
.light-border {
  border: 1px solid rgba(255, 255, 255, 0.332);
}
ul {
  list-style: none;
  padding: 0 0 0 5%;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.332);
  border-style: none solid none none;
  height: 100%;
  justify-content: space-between;
}
ul li {
  font-size: 17px;
  margin: 4% 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.253);
  font-weight: 100;
}
.li-first {
  border: 1px solid rgba(255, 255, 255, 0.332);
  border-style: none none solid none;
}
ul li:hover,
.li-first {
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.332);
  border-style: none none solid none;
}

.layer-outline {
  text-align: center;
  font-size: 14px;
  padding: 6px 0;
  border-radius: 4px;
  width: 90%;
  background-color: white;
  color: black;
  margin-top: 2%;
  transition: transform 0.2s;
}
.layer-outline:hover {
  transform: scale(1.1);
}

.layer-outline ~ .second {
  background-color: rgb(176, 149, 200);
  color: white;
}

.layer-outline ~ .third {
  background-color: transparent;
  color: white;
  border: 1px dotted white;
}

.layer-outline ~ .forth {
  background-color: rgb(109, 134, 186);
  color: white;
}

.layer-outline ~ .fifth {
  background-color: rgb(163, 109, 186);
  color: white;
}

/* Strategy Right Section  */
.sr-container {
  border: 1px solid rgba(255, 255, 255, 0.332);
  border-style: none solid solid solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dotted-parent {
  border: 1px dotted rgba(255, 255, 255, 0.332);
  border-style: dotted dotted none dotted;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 60vh;
}
.dotted-sub-one {
  display: flex;
  flex: 1;
  border: 1px dotted rgba(255, 255, 255, 0.332);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 8px;
  color: white;
}
.dotted-sub-two {
  flex: 2;
}
.sub-component {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  font-size: 10px;
  padding: 10px 20px;
  color: #000000;
}
.sub-component-round {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(176, 149, 200);
  border-radius: 36px;
  font-size: 8px;
  padding: 10px 30px;
  color: white;
}

.sub-component-large{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(176, 149, 200);
  border-radius: 8px;
  font-size: 8px;
  padding: 10px 15px;
  color: white;
  border: 1px dotted rgba(255, 255, 255, 0.332);
  background-color: var(--secondary-background-color);
display: flex;
flex-direction: column;
}
.mv-5{
  margin-top: 5%;
  margin-bottom: 5%;
}
/* Client work we work with */

.client-center {
  display: flex;
flex-direction: column;
  height: 70vh;
  padding: 2% 15%;
  
}
.heading{
  color: var(--accent-color);
  font-size: 36px;
  text-align: left;
  padding-left: 15%;
  font-weight: bold;
}

.imageContainer{
  width: 60vw;
height: 60vh;
}
.clientimg{
  width: 120px;
  height: 200px;
  margin: 20px;
  
}
.hiringContainer{
  background-color: var(--accent-color);
  padding: 2% 2% 2% 2%;
  display: flex;
  flex-direction: row;
justify-content: space-between;
}
.subText{
  color: white;
  font-size: 28px;
  text-align: left;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.squareImage{
  width: 150px;
  height: 150px;
}